body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(91,155,167,1) 50%);
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.container{
   width: 60%;
   min-height: 500px;
    margin: 10% auto;
   background-color: #fff;
    border-radius: 5px;
    padding:30px;
}

.reg-container{
    width: 40%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reg-form-input{
    margin: 15px 0;
}

.todo-form{
    min-height: 100px;
    margin: 5% auto;
    text-align: center;
}

input[type="text"], input[type="password"]{
    width: 65%;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
}

input[type="submit"]{
    background-color: rgb(131,58,180);
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.task-content{
    width: 60%;
    margin: 2% auto;
}

.current-task{
    min-width: 60%;
    inline-size: 60%;
    overflow-wrap: break-word;
    padding: 10px;
    background-color: #e6e6e6;
    font-family: Arial;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    width: 20%;
}

.icon-img{
    width: 30px;
}

.icon-img:hover{
    cursor: pointer;
}


.complete{
    text-decoration: line-through;
}

.control-col{
    width: 30%;
    margin-top: 7%;
}