<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{/css/style.css}" media="screen">
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
 <div class="container">
     <form class="todo-form" th:action="@{/addTask}">
         <input type="text" th:name="todoTask" placeholder="Input your task..." >
         <input type="submit" value="+">
     </form>
     <div class="task-content">

             <div th:each="task : ${tasks}" class="row">
                 <div th:if="${task.complete}" th:text="${task.content}" class="current-task complete"></div>
                 <div th:if="${!task.complete}" th:text="${task.content}" class="current-task"></div>

                 <div class="icons row">
                     <a th:href="@{/markComplete/{id}(id = ${task.id})}">
                         <img th:src="@{/images/checked.png}" class="icon-img">
                     </a>

                     <a th:href="@{/deleteTask/{id}(id = ${task.id})}">
                         <img th:src="@{/images/delete.png}" class="icon-img">
                     </a>
                 </div>

             </div>

         <div class="row">
             <div class="control-col" th:text="${inCompleteCount} + ' items left'"></div>
             <div class="control-col">
                 <a th:href="@{/}">All</a>
                 <a th:href="@{/showIncompleteTasks}">Active</a>
                 <a th:href="@{/showCompleteTasks}">Completed</a>
             </div>
             <div class="control-col">
                 <a th:href="@{/clearCompletedTasks}">Clear Completed</a>
             </div>
         </div>


     </div>
 </div>
</body>
</html>