<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{/css/style.css}" media="screen">
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
 <div class="container">
     <form class="todo-form" th:action="@{/addTask}">
         <input type="text" th:name="todoTask" placeholder="Input your task..." >
         <input type="submit" value="+">
     </form>
     <div class="task-content">

             <div th:each="task : ${tasks}" class="row">
                 <div th:text="${task.content}" class="current-task"></div>
                 <div class="icons row">
                     <form th:action="@{/markComplete}">
                         <img th:src="@{/images/checked.png}" class="icon-img">
                     </form>

                     <form th:action="@{/deleteTask}">
                         <img th:src="@{/images/delete.png}" class="icon-img">
                     </form>
                 </div>

             </div>



     </div>
 </div>
</body>
</html>